@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h1, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.5px;
}  


/*----------------------------------Estilos del header*-----------------------------*/
.header{
    height: :60px;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
}

.logo, .icon-menu{
    margin: 5px;
}
.icon-menu{
    display: block;
    width: 30px;
    height: 35px;
    font-size: 30px;
    background: #800040;
    color : #fff;
    text-align: : center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*----------------------------------Estilos del menu*-----------------------------*/
.nav{
    position: absolute;
    top:60px;
    left : 0;
    width: 100%;
    transition: all 0.4s;
}

.menu{
    list-style: : none;
    padding :0;
    margin:0;
}

.menu__link{
    display: block;
    padding: 20px;
    background: #800040;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select{
    background: white;
    color: #800040;
}
.mostrar{
    left:0;
}
/*----------------------------------Estilos del BANNER*-----------------------------*/
.banner{
  margin-top: -60;
    position: relative;
    z-index:-1000;
}